.env
src/database_handler/__pycache__/*
dataset/*
src/__pycache__/app_config.cpython-313.pyc
src/__pycache__/main_agent.cpython-313.pyc
src/__pycache__/main.cpython-313.pyc
src/__pycache__/prompt.cpython-313.pyc
src/__pycache__/schema.cpython-313.pyc
